<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/homepage.css">
</head>
<body>
    <h1 id="pageheading">Website Name</h1>
    <button id="adoptacat" class="changepagebuttons">Adopt a cat</button> <br>
    <button id="Catstagram" class="changepagebuttons">Catstagram</button><br>
    <button id="PostCatForAdoption" class="changepagebuttons">Post Cat/Kitten For Adoption</button>
    <script src="/static/homepage.js"></script>
</body>
</html>