<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fastapiwebsite</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h3 id="heading">fast api website</h3>
    <label for="name">name</label>
    <input type="text" id="name" minlength="3" maxlength="20"><br>
    <label for="age">age</label>
    <input type="text" id="age" min="0" max="100"><br>
    <label for="password">Password</label>
    <input type="password" id="password" minlength="10"><br>
    <input type="button" value="Submit" id="submit">
    <script src="/static/script.js"></script>
</body>
</html>