<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adoptacat</title>
</head>
<body>
    
    <h1 id="heading">Post Pet For Adoption</h1>
    <link rel="stylesheet" href="../static/postcatforadoption.css">
    <button id="addapet">Add a pet</button>
    <div id="petform">
    <label for="name">Pet Name</label>
    <input type="">
    <button type="submit" id="submit">submit</button>
    </div>
    <script src="../static/postcatforadoption.js"></script>
</body>
</html>